/* Variáveis */

:root {
    --cor-primaria: #fff;
    --cor-secundaria: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Century, Arial;
}

body {
    background: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)), url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    padding: 0 5%;
}

/* Header */

.header {
    position: relative;

    width: 100%;
    height: auto;
    min-height: 100px;
}

.header nav {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 5%;
}

.header nav .logo {
    width: 150px;
}

.header nav .logo img {
    width: 100%;
    height: auto;
}

.header nav .mainList {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    column-gap: 4px;

    list-style: none;

}

.header nav .mainList li {
    font-size: 20px;
    padding: 5px 20px;
    transition: 0.3s ease-in-out all;
    color: var(--cor-primaria);

    cursor: pointer;
}

.header nav .mainList li.active {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.header nav .mainList li a {
    text-decoration: none;
    color: inherit;
    transition: inherit;
}

.header nav .mainList li:hover {
    background-color: var(--cor-primaria);
}

.header nav .mainList li:hover a {
    color: var(--cor-secundaria);
}

.header nav .mainList .recipe .subMenu {
    position: absolute;
    right: 0;
    top: 72px;
    width: 170px;

    margin-top: 12px;
    margin-right: 8px;

    display: none;

    z-index: 10;
}

.header nav .mainList .recipe .subMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header nav .mainList .recipe .subMenu ul li {

    font-size: 20px;
    padding: 5px 30px;
    transition: 0.3s ease-in-out all;
    color: var(--cor-primaria);
    background-color: transparent;
    text-align: center;

    transition: 0.3s ease all;

    cursor: pointer;
}

.header nav .mainList .recipe .subMenu ul li a {
    color: inherit;
    text-decoration: none;
    transition: inherit;
}

.header nav .mainList .recipe:hover .subMenu {
    display: block;
}

.header nav .mainList .recipe .subMenu ul li:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Main Page */

main {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 4px;

    width: 100%;
    height: calc(97.5% - 142px);
    padding-bottom: 2.5%;
}

main h1 {
    font-size: 70px;
    color: var(--cor-primaria);
    text-transform: uppercase;
}

main .buttons {
    display: flex;
}

main .buttons a {
    border: 1px solid var(--cor-primaria);
    padding: 5px 20px;
    color: var(--cor-primaria);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;

    transition: 0.5s ease all;
}

main .buttons a:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}